html {
    background: url(../images/arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
}
.customcontainer{
    margin-left: 10px;
}

img {
    width: 165px;
    height: 110px;
}

.imagebox {
    float: left;
    background-color: white;
    text-align: center;
    padding: 0px 20px;
}

.imagebox p {
    margin: 0;
    color: black;
}

.imagebox img {
    margin: 4px 0px;
}

.characterSelection .imagebox{
    border: 3px solid green;
}
.yourcharacter .imagebox{
    border: 3px solid green;
}
.enemies .imagebox{
    border: 3px solid black;
    background-color: red;
}
.defender .imagebox{
    border: 3px solid green;
    background-color: black;
}
.defender .imagebox p{
    color: white;
}

.clearfix:after {
    content: "";
    display: block;
    float: none;
    clear: both;
}
.footer-copyright {
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}